<div class="page-header">
  <h1>CRUD</h1>
  <small>Mean stack dummy</small>
</div>
<div class="container">
  <h2>login</h2>
  <!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <P>login</P>
        </button>
      </div>
    </div>
  </nav> -->
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="model.username" name="username" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" [(ngModel)]="model.password" name="password" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Login</button>
          <button type="submit" class="btn btn-success" [routerLink]="['/register']">Register</button>
        </div>
      </form>
    </div>
  </div>
  </div>
